* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #5D5D7D;
}

.wrapper {
    width: 100vw;
    height: 100vh;
}

#container-left {
    display: inline-block;
    width: 60%;
    padding-left: 136px;
    margin-top: 230px;
}


#container-right {
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100%;
    width: 40%;
    position: absolute;
}

h1 {
    width: 326px;
    font-size: 50px;
    line-height: 60px;
}

p {
    margin: 15px 0;
    width: 505px;
    font-size: 20px;
    line-height: 35px; 
    opacity: 0.6;
}

button {
    width: 200px;
    height: 56px;
    background-color: #9499EA;
    border: none;
    border-radius: 35px;
    color: white;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.10);
    font-size: 20px;
    cursor: pointer;   
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

img {
    width: 320px;
    height: 426px;
    position: relative;
    top: 84px;
    right: 100px;
}

nav {
    margin: 15px 0 0 40px;
    text-align: center;
}

a {
    margin-right: 41px;
    font-size: 22px;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

a:active {
    opacity: 0.5;
}


/*REPONSIVIDADE*/

@media screen and (max-width: 900px) {
    
    #container-left {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 50%;
    }

    #container-right {
        display: block;
        padding: 40px;
        position: static;
        width: 100%;
        height: 50%;
    }

    img {
        position: static;
        max-width: 90%;
        height: 323px;
    }

    nav {
        display: none;
    }

    h1 {
        width: 234px;
        font-size: 36px;
        line-height: 52px;
        margin: 58px auto 0;
        text-align: center;
    }

    p {
        width: 276px;
        margin: 15px auto 15px;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
    }

    button {
        margin: 0 auto;
        display: block;
    }
}